In [42]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
import lightgbm as lgb

In [43]:
# Load the dataset
data = pd.read_csv('DS_ML Coding Challenge Dataset (1).xlsx - Training Dataset.csv') 
data_test = pd.read_csv('DS_ML Coding Challenge Dataset (1).xlsx - Test Dataset.csv')

In [44]:
data

,ProductType,Manufacturer,Area Code,Sourcing Channel,Product Size,Product Type,Month of Sourcing,Sourcing Cost
0,NTM3,X1,A28,WHOLESALE,Large,Powder,May-21,10.16
1,NTM2,X1,A9,DIRECT,Large,Powder,Oct-20,134.28
2,NTM3,X2,A20,DIRECT,Large,Powder,Dec-20,12.46
3,NTM3,X1,A18,WHOLESALE,Small,Powder,Feb-21,107.22
4,NTM2,X1,A28,DIRECT,Large,Liquid,Nov-20,197.76
...,...,...,...,...,...,...,...,...
550171,NTM2,X1,A5,DIRECT,Large,Powder,Jul-20,136.47
550172,NTM3,X1,A14,DIRECT,Large,Liquid,Oct-20,72.56
550173,NTM2,X1,A5,DIRECT,Small,Powder,Mar-21,147.64
550174,NTM2,X1,A7,DIRECT,Small,Powder,Feb-21,150.04
550175,NTM1,X1,A3,DIRECT,Small,Powder,Nov-20,139.42

In [45]:
# data_test.drop(['Sourcing Cost'],axis=1,inplace=True)

In [46]:
data_test

,ProductType,Manufacturer,Area Code,Sourcing Channel,Product Size,Product Type,Month of Sourcing,Sourcing Cost
0,NTM1,X1,A1,DIRECT,Small,Powder,Jun-21,103.68
1,NTM1,X1,A10,DIRECT,Large,Powder,Jun-21,155.75
2,NTM1,X1,A10,ECOM,Large,Powder,Jun-21,143.02
3,NTM1,X1,A11,DIRECT,Large,Powder,Jun-21,139.39
4,NTM1,X1,A2,DIRECT,Large,Powder,Jun-21,169.42
...,...,...,...,...,...,...,...,...
91,NTM3,X1,A44,DIRECT,Small,Liquid,Jun-21,89.57
92,NTM3,X1,A8,DIRECT,Large,Powder,Jun-21,114.57
93,NTM3,X1,A8,DIRECT,Small,Powder,Jun-21,111.26
94,NTM3,X2,A20,DIRECT,Large,Powder,Jun-21,32.32
95,NTM3,X3,A22,RETAIL,Large,Powder,Jun-21,40.73

In [47]:
data_test.isnull().sum()

ProductType          0
Manufacturer         0
Area Code            0
Sourcing Channel     0
Product Size         0
Product Type         0
Month of Sourcing    0
Sourcing Cost        0
dtype: int64

In [48]:
# Convert 'Month of Sourcing' column to datetime using a custom format
# data_test['Month of Sourcing'] = pd.to_datetime(data['Month of Sourcing'], format='%b-%y', errors='coerce')

In [49]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550176 entries, 0 to 550175
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ProductType        550176 non-null  object
 1   Manufacturer       550176 non-null  object
 2   Area Code          550176 non-null  object
 3   Sourcing Channel   550176 non-null  object
 4   Product Size       550176 non-null  object
 5   Product Type       550176 non-null  object
 6   Month of Sourcing  550176 non-null  object
 7   Sourcing Cost      550176 non-null  float64
dtypes: float64(1), object(7)
memory usage: 33.6+ MB

In [50]:
data.describe()

       Sourcing Cost
count  550176.000000
mean      108.817286
std       104.390093
min      -196.070000
25%        57.000000
50%       132.000000
75%       146.150000
max     32632.500000

In [51]:
data

,ProductType,Manufacturer,Area Code,Sourcing Channel,Product Size,Product Type,Month of Sourcing,Sourcing Cost
0,NTM3,X1,A28,WHOLESALE,Large,Powder,May-21,10.16
1,NTM2,X1,A9,DIRECT,Large,Powder,Oct-20,134.28
2,NTM3,X2,A20,DIRECT,Large,Powder,Dec-20,12.46
3,NTM3,X1,A18,WHOLESALE,Small,Powder,Feb-21,107.22
4,NTM2,X1,A28,DIRECT,Large,Liquid,Nov-20,197.76
...,...,...,...,...,...,...,...,...
550171,NTM2,X1,A5,DIRECT,Large,Powder,Jul-20,136.47
550172,NTM3,X1,A14,DIRECT,Large,Liquid,Oct-20,72.56
550173,NTM2,X1,A5,DIRECT,Small,Powder,Mar-21,147.64
550174,NTM2,X1,A7,DIRECT,Small,Powder,Feb-21,150.04
550175,NTM1,X1,A3,DIRECT,Small,Powder,Nov-20,139.42

In [52]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

def preprocess_data(data):
    # Label Encoding for categorical variables
    label_encoder = LabelEncoder()
    data['ProductType'] = label_encoder.fit_transform(data['ProductType'])
    data['Manufacturer'] = label_encoder.fit_transform(data['Manufacturer'])
    data['Area Code'] = label_encoder.fit_transform(data['Area Code'])
    data['Sourcing Channel'] = label_encoder.fit_transform(data['Sourcing Channel'])
    data['Product Size'] = label_encoder.fit_transform(data['Product Size'])
    data['Product Type'] = label_encoder.fit_transform(data['Product Type'])
    data['Month of Sourcing'] = label_encoder.fit_transform(data['Month of Sourcing'])
    

    # Datetime conversion
    # data['Month of Sourcing'] = pd.to_datetime(data['Month of Sourcing'], format='%b-%y')
    # Convert float to int
    data['Sourcing Cost'] = data['Sourcing Cost'].astype(int)

    # Convert datetime to integer representation
    # data['Month of Sourcing'] = data['Month of Sourcing'].apply(lambda x: x.timestamp())

    # Convert to integer
    # data['Month of Sourcing'] = data['Month of Sourcing'].astype(int)
    
    return data

# Example usage:
# train_data = preprocess_data(train_data)
# test_data = preprocess_data(test_data)

In [79]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

def preprocess_data_test(data):
    # Label Encoding for categorical variables
    label_encoder = LabelEncoder()
    data['ProductType'] = label_encoder.fit_transform(data['ProductType'])
    data['Manufacturer'] = label_encoder.fit_transform(data['Manufacturer'])
    data['Area Code'] = label_encoder.fit_transform(data['Area Code'])
    data['Sourcing Channel'] = label_encoder.fit_transform(data['Sourcing Channel'])
    data['Product Size'] = label_encoder.fit_transform(data['Product Size'])
    data['Product Type'] = label_encoder.fit_transform(data['Product Type'])
    data['Month of Sourcing'] = label_encoder.fit_transform(data['Month of Sourcing'])
    

    # Datetime conversion
    # data['Month of Sourcing'] = pd.to_datetime(data['Month of Sourcing'], format='%b-%y')
    # Convert float to int
    # data['Sourcing Cost'] = data['Sourcing Cost'].astype(int)

    # Convert datetime to integer representation
    # data['Month of Sourcing'] = data['Month of Sourcing'].apply(lambda x: x.timestamp())

    # Convert to integer
    # data['Month of Sourcing'] = data['Month of Sourcing'].astype(int)
    
    return data

# Example usage:
# train_data = preprocess_data(train_data)
# test_data = preprocess_data(test_data)

In [53]:
train_data = preprocess_data(data)

# Confirm the changes

In [54]:
train_data

,ProductType,Manufacturer,Area Code,Sourcing Channel,Product Size,Product Type,Month of Sourcing,Sourcing Cost
0,2,0,19,3,1,1,7,10
1,1,0,44,0,1,1,9,134
2,2,1,12,0,1,1,2,12
3,2,0,9,3,2,1,3,107
4,1,0,19,0,1,0,8,197
...,...,...,...,...,...,...,...,...
550171,1,0,40,0,1,1,5,136
550172,2,0,5,0,1,0,9,72
550173,1,0,40,0,2,1,6,147
550174,1,0,42,0,2,1,3,150
550175,0,0,21,0,2,1,8,139

In [55]:
test_data = preprocess_data(data_test)

In [56]:

test_data

,ProductType,Manufacturer,Area Code,Sourcing Channel,Product Size,Product Type,Month of Sourcing,Sourcing Cost
0,0,0,0,0,2,1,0,103
1,0,0,1,0,1,1,0,155
2,0,0,1,1,1,1,0,143
3,0,0,2,0,1,1,0,139
4,0,0,11,0,1,1,0,169
...,...,...,...,...,...,...,...,...
91,2,0,37,0,2,0,0,89
92,2,0,43,0,1,1,0,114
93,2,0,43,0,2,1,0,111
94,2,1,12,0,1,1,0,32
95,2,2,14,2,1,1,0,40

In [57]:
print(test_data.dtypes)

ProductType          int32
Manufacturer         int32
Area Code            int32
Sourcing Channel     int32
Product Size         int32
Product Type         int32
Month of Sourcing    int32
Sourcing Cost        int32
dtype: object

In [58]:
test_data

,ProductType,Manufacturer,Area Code,Sourcing Channel,Product Size,Product Type,Month of Sourcing,Sourcing Cost
0,0,0,0,0,2,1,0,103
1,0,0,1,0,1,1,0,155
2,0,0,1,1,1,1,0,143
3,0,0,2,0,1,1,0,139
4,0,0,11,0,1,1,0,169
...,...,...,...,...,...,...,...,...
91,2,0,37,0,2,0,0,89
92,2,0,43,0,1,1,0,114
93,2,0,43,0,2,1,0,111
94,2,1,12,0,1,1,0,32
95,2,2,14,2,1,1,0,40

In [59]:
X = train_data.drop(['Sourcing Cost'], axis=1)
y = train_data['Sourcing Cost']

In [60]:
X.shape ,y.shape

((550176, 7), (550176,))

In [61]:
X_train, _, y_train, _ = train_test_split(X, y, test_size=0.000001, random_state=42)

In [62]:
x = test_data.drop(['Sourcing Cost'], axis=1)
Y= test_data['Sourcing Cost']

In [63]:
_, x_test, _, Y_test = train_test_split(x,Y, test_size=0.98, random_state=42)

In [64]:
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

RandomForestRegressor(random_state=42)

In [65]:
y_pred = model.predict(x_test)

In [66]:
y_pred

array([ 29.05331795, 138.80758344,  56.83060816,  57.40378382,
        26.        ,  34.54417894, 153.26491086, 174.24821053,
        92.73107099, 149.05187858, 143.5165537 , 177.45805826,
       139.76039153, 166.6548554 , 165.99620859,  30.01924176,
        94.11530519, 150.26276076,  32.8450974 , 128.93846393,
        48.5187509 , 141.22768774, 151.13374173, 141.4764668 ,
        14.09903477, 138.93275002, 116.24234184, 133.        ,
        38.43932952, 172.39996277,  24.        ,  77.58847726,
       148.69260024, 172.72017546,  16.03296542,  56.        ,
       149.        , 164.75163872, 218.966346  ,  67.56037783,
        56.        ,  57.67440037,  30.78966627, 149.4242294 ,
        81.39742032,  24.32117954,  65.46961376, 143.        ,
        79.59803846, 146.68914647, 140.46395163, 146.31612645,
       149.116515  ,  60.27595722,  46.80060451, 149.11298981,
       152.13336255,   5.12078455, 180.        ,  51.10093808,
       184.63013944, 172.49317192,  56.        , 142.31764632,
       208.3283804 , 143.81259084, 149.11119344,  93.72531842,
        26.        ,  55.40365514, 294.77089414, 107.60188278,
       106.11118865, 210.55360159,  26.54789655,  54.02558439,
       143.        , 143.45135747,  26.27867094, 144.31312788,
       227.40889561, 152.12590559,  13.88050254, 146.29019071,
       149.4241746 ,  48.30504732,  18.4978439 ,  62.78748918,
        64.42714011, 156.84518517, 151.16479294, 149.11298981,
       106.13582478, 143.        , 125.6064513 ])

In [67]:
mse = mean_squared_error(Y_test, y_pred)
print("Mean Squared Error on Validation Set:", mse)

Mean Squared Error on Validation Set: 1976.4762057658295

In [68]:
mae = mean_absolute_error(Y_test,y_pred)
print("Mean absolute Error on Validation Set:", mae)

Mean absolute Error on Validation Set: 21.656997920367566

In [69]:
# Convert data to LightGBM Dataset format
train_data = lgb.Dataset(X_train, label=y_train)
val_data = lgb.Dataset(x_test, label= Y_test, reference=train_data)

# Define LightGBM parameters
params = {
    'objective': 'regression',
    'metric': 'rmse',
    'num_leaves': 31,
    'learning_rate': 0.05,
    'early_stopping_rounds': 10,  # Specify early stopping rounds here
    'verbose': -1
}

# Train the LightGBM model
num_rounds = 200
model01 = lgb.train(params, train_data, num_rounds, valid_sets=[val_data])

# Predict on validation set
y_pred01 = model01.predict(x_test, num_iteration=model01.best_iteration)

# Calculate Root Mean Squared Error (RMSE)
rmse = mean_squared_error(Y_test, y_pred01) ** 0.5
print("Root Mean Squared Error on Validation Set:", rmse)

Root Mean Squared Error on Validation Set: 34.45734367709893

In [70]:
mse = mean_squared_error(Y_test, y_pred01)
print("Mean Squared Error on Validation Set:", mse)

Mean Squared Error on Validation Set: 1187.30853328171

In [71]:
mae = mean_absolute_error(Y_test,y_pred01)
print("Mean absolute Error on Validation Set:", mae)

Mean absolute Error on Validation Set: 23.143621165493176

In [72]:
from sklearn.tree import DecisionTreeRegressor

# Train the Decision Tree model
model_dt = DecisionTreeRegressor()
model_dt.fit(X_train, y_train)

# Predict on validation set
y_pred_dt = model_dt.predict(x_test)

# Calculate Root Mean Squared Error (RMSE)
rmse_dt = mean_squared_error(Y_test, y_pred_dt) ** 0.5
print("Root Mean Squared Error on Validation Set (Decision Tree):", rmse_dt)

Root Mean Squared Error on Validation Set (Decision Tree): 44.665517663292576

In [73]:
mse = mean_squared_error(Y_test, y_pred_dt)
print("Mean Squared Error on Validation Set:", mse)

Mean Squared Error on Validation Set: 1995.0084681299013

In [74]:
test_source= test_data['Sourcing Cost']

In [75]:
test_data.drop(['Sourcing Cost'], axis=1,inplace=True)

In [76]:
# Load the test dataset

# Make predictions on the test data (assuming model is already trained)
test_predictions = model01.predict(test_data)

# Print test predictions
print("Test Predictions:")
print(test_predictions)

Test Predictions:
[107.57698674 138.89181299 138.89181299 138.89181299 151.08214735
 145.03298411  83.19559528  99.59997783 135.50358451 135.50358451
 136.18330931 135.50358451 109.45998577 138.58359536 138.58359536
 138.58359536 138.58359536 138.58359536 138.51128202 138.58359536
 138.58359536 138.58359536 138.58359536  42.9560056   78.24850889
  51.73460045  40.70649744  40.70649744  40.70649744 185.40086164
 156.80944122 156.80944122  40.70649744  46.23723144  60.00205232
 132.98265875 138.89181299 138.89181299 132.98265875 117.04099531
 115.06862028 122.26098329 151.08214735 151.08214735 131.33515381
  74.89938293 179.85289613 179.85289613  99.73677293  87.36720916
  97.41192772 136.18330931 152.02002165  99.92362366 167.92505428
 145.56817701 167.92505428 170.76029633 166.9106263  138.58359536
 138.51128202 138.58359536 138.51128202 138.58359536 138.58359536
 138.58359536 138.51128202 138.58359536 138.51128202 138.58359536
 138.58359536  88.76895728  78.24850889  64.91583664  51.73460045
  59.23620141  47.95295178 128.35243794  89.34160576  46.44319879
  37.16116514  46.44319879 142.25435445  98.81496723  47.72456809
 124.20969451  77.25303991  44.3314601   45.04106584 105.09867886
  71.16603642  77.46321821 112.64628103  91.91619273  64.96052485
  64.29108913]

In [77]:
import numpy as np

# Assuming original values are stored in 'original_values'
original_values = test_source  # Replace [...] with your original values

# Calculate Mean Squared Error (MSE)
rmse = np.sqrt(np.mean((test_predictions - original_values) ** 2))
print("Root Mean Squared Error (RMSE):", rmse)

Root Mean Squared Error (RMSE): 34.29518179522641

In [80]:
# Take input from the user
user_input = {}
user_input['ProductType'] = input("Enter Product Type: ")
user_input['Manufacturer'] = input("Enter Manufacturer: ")
user_input['Area Code'] = input("Enter Area Code: ")
user_input['Sourcing Channel'] = input("Enter Sourcing Channel: ")
user_input['Product Size'] = input("Enter Product Size: ")
user_input['Product Type'] = input("Enter Product Type: ")
user_input['Month of Sourcing'] = input("Enter Month of Sourcing (in format YYYY-MM-DD or MM-YYYY): ")

# Create a DataFrame from user input
user_df = pd.DataFrame([user_input])

# Preprocess the user input
user_df_preprocessed = preprocess_data_test(user_df)

# Drop 'Sourcing Cost' column
# user_df_preprocessed = user_df_preprocessed.drop('Sourcing Cost', axis=1)

# Make predictions on the preprocessed user data
test_predictions = model01.predict(user_df_preprocessed)

# Print test predictions
print("Test Predictions:")
print(test_predictions)

Test Predictions:
[134.7538937]

In [82]:
user_input

{'ProductType': 'NTM1',
 'Manufacturer': 'X1',
 'Area Code': 'A1',
 'Sourcing Channel': 'DIRECT',
 'Product Size': 'Small',
 'Product Type': 'Powder',
 'Month of Sourcing': '01-06-2021'}

In [83]:
user_df_preprocessed

,ProductType,Manufacturer,Area Code,Sourcing Channel,Product Size,Product Type,Month of Sourcing
0,0,0,0,0,0,0,0